# Auto detect text files and perform LF normalization
* text=auto
/Script/Engine.Texture2D'/Game/Kraken/Textures/Tex_KRAKEN_BODY_RoughnessMetallicSpecular.Tex_KRAKEN_BODY_RoughnessMetallicSpecular' filter=lfs diff=lfs merge=lfs -text
